/* Variables */
/* =============== */
/* #Buttons
================================================== */
/* Base styles
// -------------------------------------------------- */
/* Core */
.btn {
  display: inline-block;
  position: relative;
  color: #29b24c;
  line-height: 1.45;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 2px solid #29b24c;
  padding: 7px 14px;
  background: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .btn:hover {
    border: 2px solid #3cd262;
    color: #3cd262; }
  .btn:visited {
    color: #29b24c; }
  .btn:active {
    top: 1px; }

.btn[disabled], .btn[disabled]:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.2);
  top: 0; }

/* Button Sizes
// -------------------------------------------------- */
/* Large */
.btn-large {
  padding: 9px 20px !important;
  font-size: 16px !important;
  line-height: normal;
  font-weight: normal; }

/* Small */
.btn-small {
  padding: 4px 9px !important;
  font-size: 10px !important;
  line-height: 11px !important;
  font-weight: bold; }

/* Full width buttons */
.btn.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* Alternate buttons
// -------------------------------------------------- */
.btn-white {
  color: #FFFFFF;
  text-shadow: 0;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, left, right);
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
  border-color: transparent transparent transparent;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: transparent;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 2px solid #FFF; }
  .btn-white:hover, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
    color: #FFFFFF;
    background-color: transparent;
    *background-color: transparent;
    background-image: none; }
  .btn-white:active, .btn-white.active {
    background-color: transparent \9; }
  .btn-white:hover {
    border: 2px solid rgba(255, 255, 255, 0.75); }
  .btn-white:visited {
    color: #FFFFFF; }

.btn-shade {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, left, right);
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
  border-color: transparent transparent transparent;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: transparent;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 2px solid rgba(0, 0, 0, 0.4); }
  .btn-shade:hover, .btn-shade:active, .btn-shade.active, .btn-shade.disabled, .btn-shade[disabled] {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    *background-color: transparent;
    background-image: none; }
  .btn-shade:active, .btn-shade.active {
    background-color: transparent \9; }
  .btn-shade:hover {
    border: 2px solid #333333;
    color: #333333; }
  .btn-shade:visited {
    color: rgba(0, 0, 0, 0.4); }

.btn-primary {
  background: #29b24c;
  color: #FFFFFF;
  border: 2px solid transparent; }
  .btn-primary:hover {
    background: #1f893a;
    border: 2px solid transparent;
    color: #FFFFFF; }
  .btn-primary:visited {
    color: #FFFFFF; }

.btn-secondary {
  background: #2267b2;
  color: #FFFFFF;
  border: 2px solid transparent; }
  .btn-secondary:hover {
    background: #1a4e87;
    border: 2px solid transparent;
    color: #FFFFFF; }
  .btn-secondary:visited {
    color: #FFFFFF; }

/* Cross-browser Jank
// -------------------------------------------------- */
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px; }

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.btn.large,
input[type="submit"].btn.large {
  *padding-top: 7px;
  *padding-bottom: 7px; }

button.btn.small,
input[type="submit"].btn.small {
  *padding-top: 3px;
  *padding-bottom: 3px; }

/* Button Block
// -------------------------------------------------- */
.button-block {
  margin: 5px 0;
  *zoom: 1; }
  .button-block:before, .button-block:after {
    display: table;
    content: "";
    line-height: 0; }
  .button-block:after {
    clear: both; }

.accordion-header {
  cursor: pointer; }

.inactive-header:hover {
  position: relative; }

.inactive-header, .inactive-header-2 {
  color: rgba(71, 26, 12, 0.7);
  -webkit-transition: background 0.2s linear, color 0.2s linear;
  -moz-transition: background 0.2s linear, color 0.2s linear;
  -o-transition: background 0.2s linear, color 0.2s linear;
  transition: background 0.2s linear, color 0.2s linear; }

.inactive-header:hover, .inactive-header-2:hover {
  color: #471a0c; }

.accordion-content {
  display: none;
  position: relative; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: auto !important;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #858585;
  line-height: 1.45;
  font-size: 16px; }

#skrollr-body {
  height: auto !important; }

.topbar {
  background: #29b24c;
  height: 5px;
  width: 100%;
  position: relative;
  z-index: 10; }

img.scale-with-grid {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0 0 10px;
  line-height: 1.2; }

h1 {
  font-size: 36px; }

h2 {
  color: #29b24c; }

h1.logo {
  color: #1db345;
  font-weight: 300;
  margin: 0;
  padding: 0 0 10px;
  white-space: nowrap; }
  h1.logo img {
    vertical-align: middle;
    width: 48px;
    margin-top: -10px; }

.tagline {
  color: #858585;
  margin-bottom: 20px; }

p {
  margin: 0 0 10px; }

a, a:visited, a:hover, a:focus {
  color: #29b24c;
  text-decoration: none; }

a:hover {
  color: #3cd262; }

blockquote {
  font-style: italic; }

section {
  padding: 5em 0;
  *zoom: 1;
  position: relative; }
  section:before, section:after {
    display: table;
    content: "";
    line-height: 0; }
  section:after {
    clear: both; }

.container {
  max-width: 55.7em;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.split > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.35em;
  padding-right: 0.35em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .split > div:first-child {
    text-align: center; }

.arrow-down {
  display: block;
  margin: 50px auto 0; }
  .arrow-down:hover {
    cursor: pointer; }

.problem {
  *zoom: 1; }
  .problem:before, .problem:after {
    display: table;
    content: "";
    line-height: 0; }
  .problem:after {
    clear: both; }
  .problem aside {
    width: 32.4955116697%;
    float: left;
    margin-right: 1.2567324955%;
    text-align: center; }
    .problem aside i {
      font-size: 200px;
      text-align: center; }
  .problem article {
    width: 66.2477558348%;
    float: right;
    margin-right: 0; }

.solution {
  *zoom: 1; }
  .solution:before, .solution:after {
    display: table;
    content: "";
    line-height: 0; }
  .solution:after {
    clear: both; }
  .solution aside {
    width: 32.4955116697%;
    float: right;
    margin-right: 0;
    text-align: center; }
    .solution aside i {
      font-size: 200px;
      text-align: center; }
  .solution article {
    width: 66.2477558348%;
    float: left;
    margin-right: 1.2567324955%; }

.overview {
  padding: 5em 0;
  height: 100%; }
  .overview > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333333%;
    float: left;
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 4em; }
    .overview > div:nth-child(2) {
      text-align: center;
      padding-top: 0; }

.message > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.35em;
  padding-right: 0.35em; }

.icon-bar {
  overflow: hidden;
  white-space: nowrap;
  margin: -4em 0 0; }
  .icon-bar i {
    font-size: 32px;
    color: #F4F4F4;
    margin: 0 15px; }

.chunk-green {
  background: #29b24c;
  color: #FFFFFF; }
  .chunk-green h1, .chunk-green h2, .chunk-green p, .chunk-green i {
    color: #FFFFFF; }

.chunk-red {
  background: #ec2127;
  color: #FFFFFF; }
  .chunk-red h1, .chunk-red h2, .chunk-red p, .chunk-red i {
    color: #FFFFFF; }

.chunk-beige {
  background: #f6ebcc;
  color: #dc7b09; }
  .chunk-beige h1, .chunk-beige h2, .chunk-beige p {
    color: #dc7b09; }
  .chunk-beige i {
    color: #f69522; }

.chunk-orange {
  background: #f69522;
  color: #FFFFFF; }
  .chunk-orange h1, .chunk-orange h2, .chunk-orange p, .chunk-orange i {
    color: #FFFFFF; }

.chunk-yellow {
  background: #f6e956;
  color: #f69522; }
  .chunk-yellow h1, .chunk-yellow h2, .chunk-yellow p, .chunk-yellow i {
    color: #f69522; }

.chunk-blue {
  background: #2267b2;
  color: #FFFFFF; }
  .chunk-blue h1, .chunk-blue h2, .chunk-blue p, .chunk-blue i {
    color: #FFFFFF; }

.chunk-purple {
  background: #7d4bc2;
  color: #FFFFFF; }
  .chunk-purple h1, .chunk-purple h2, .chunk-purple p, .chunk-purple i {
    color: #FFFFFF; }

.chunk-white {
  background: #F4F4F4;
  color: #858585; }
  .chunk-white h1, .chunk-white h2, .chunk-white p, .chunk-white i {
    color: #858585; }

.broc-box {
  width: 50px;
  margin: 0 auto;
  position: absolute;
  top: -20px;
  right: 0;
  left: 0; }
  .broc-box .broc {
    width: 40px;
    height: 40px;
    background: #FFF;
    border-radius: 50%;
    padding: 5px; }

.wire {
  width: 222px;
  height: 434px;
  margin: 0 auto;
  background: url(../images/iphone-wire.png) no-repeat center top;
  position: relative; }
  .wire .tip-1-screen {
    background: url(../images/tip1.png) no-repeat; }
  .wire .tip-2-screen {
    background: url(../images/tip2.gif) no-repeat; }
  .wire .tip-3-screen {
    background: url(../images/tip3.png) no-repeat; }
  .wire .tip-4-screen {
    background: url(../images/tip4.gif) no-repeat; }
  .wire [class^='tip'] {
    margin: 56px auto 0;
    width: 180px;
    height: 325px;
    background-size: 100%; }

[class^='tip'] {
  margin-bottom: 2em;
  position: relative;
  top: 0;
  left: -1px;
  text-align: center; }

#slide-5 {
  padding-bottom: 0; }
  #slide-5 .bg {
    background: url(../images/photofood.jpg);
    padding: 5em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *zoom: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%; }
    #slide-5 .bg:before, #slide-5 .bg:after {
      display: table;
      content: "";
      line-height: 0; }
    #slide-5 .bg:after {
      clear: both; }
    #slide-5 .bg h1, #slide-5 .bg h2, #slide-5 .bg p {
      background: rgba(255, 255, 255, 0.75);
      color: #333333;
      padding: 15px;
      display: inline-table;
      position: relative; }
    #slide-5 .bg h1 {
      color: #29b24c;
      line-height: 1; }
      #slide-5 .bg h1 .icon-camera2 {
        position: absolute;
        left: -60px;
        top: 5px;
        color: #FFFFFF; }

.quotes {
  width: 75%;
  margin: 0 auto;
  text-align: center; }

#mc_embed_signup h3 {
  text-align: center;
  margin-bottom: 2em; }

#mc_embed_signup label {
  font-weight: 300; }

#mc_embed_signup .form-pos {
  width: 400px;
  position: relative;
  margin: 0 auto; }

#mc_embed_signup input.email {
  width: 65%;
  border-radius: 2px 0 0 2px;
  border: none;
  background: #efefef;
  margin: 0;
  text-indent: 10px; }

#mc_embed_signup input.button {
  background: #FFF;
  border: 2px solid #efefef;
  color: #858585;
  border-radius: 0 2px 2px 0;
  font-weight: 400;
  font-size: inherit;
  height: auto;
  line-height: 1.95;
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transition: color .1s ease;
  -moz-transition: color .1s ease;
  -o-transition: color .1s ease;
  transition: color .1s ease; }

#mc_embed_signup input.button:hover {
  background: #FFF;
  color: #1db345; }

footer {
  padding: 20px 0;
  *zoom: 1;
  border-top: 1px solid #F4F4F4; }
  footer:before, footer:after {
    display: table;
    content: "";
    line-height: 0; }
  footer:after {
    clear: both; }
  footer span {
    font-size: 12px;
    float: right;
    color: #858585; }
  footer i {
    margin-right: 10px; }

@media only screen and (max-width: 560px) {
  h1.logo {
    font-size: 30px; }

  .problem aside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333333%;
    float: left;
    padding-left: 0.35em;
    padding-right: 0.35em;
    margin: 0; }

  .solution aside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333333%;
    float: right;
    padding-left: 0.35em;
    padding-right: 0.35em;
    margin: 0; }

  .problem article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.6666666667%;
    float: right;
    padding-left: 0.35em;
    padding-right: 0.35em;
    margin: 0; }

  .solution article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.6666666667%;
    float: left;
    padding-left: 0.35em;
    padding-right: 0.35em;
    margin: 0; }

  .problem aside i, .solution aside i {
    font-size: 150px; }

  .message > div {
    width: 66.2477558348%;
    float: left;
    margin-right: 1.2567324955%; }

  footer {
    padding: 10px 0;
    text-align: center; }
    footer span {
      display: block;
      float: none;
      margin-top: 10px; } }
@media only screen and (max-width: 450px) {
  .split {
    height: auto !important; }
    .split > div {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      height: auto;
      display: block;
      top: 0;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
      .split > div:first-child {
        padding-top: 10%;
        margin-bottom: 40px; }
    .split .hero-blur {
      display: none; }

  section {
    padding: 1em 0; }

  .problem aside, .solution aside {
    display: none; }

  .problem article, .solution article {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .message > div {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .message > div h1, .message > div h2 {
      visibility: visible !important; }
    .message > div a {
      margin: 0 auto;
      display: block; }

  .overview {
    padding: 1em 0; }
    .overview > div {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      margin: 0 auto; }
      .overview > div:nth-child(2) {
        display: none; }
      .overview > div .btn {
        display: none; }

  .arrow-down {
    display: none; }

  .icon-bar {
    margin-top: -1em; }

  #slide-5 .bg {
    padding: 1em 0;
    background: #F4F4F4; }

  [class^='tip'] {
    visibility: visible !important; } }
