@import "_variables";
@import "_mixins";
@import "susy";
@import "_buttons";
@import "accordion";

@include border-box-sizing;
$susy: layout( 12 (4em .7em) after);


// Absolute positioning the footer on the bottom
html, body { width:100%; height:auto !important; margin:0; padding:0; }
body { font-family: 'Lato', sans-serif; font-weight:300; color:$greyDark; line-height:$baseLineHeight; font-size:$baseFontSize; }

#skrollr-body { height:auto !important; }
.fullSlide {  }

.topbar { background:$green; height:5px; width:100%; position:relative; z-index:10; }

img.scale-with-grid { max-width:100%; height:auto; }

h1, h2, h3, h4, h5, h6 { font-weight:300; margin:0 0 10px; line-height:1.2; }
h1 { font-size:36px; }
h2 { color:$green; }

h1.logo { color:#1db345; font-weight:300; margin:0; padding:0 0 10px; white-space:nowrap;
	img { vertical-align:middle; width:48px; margin-top:-10px; }
}
.tagline { color:#858585; margin-bottom:20px; }

p { margin:0 0 10px; }

a, a:visited, a:hover, a:focus { color:$green; text-decoration:none; }
a:hover { color:lighten($green,10%); }

blockquote { font-style:italic; }


section { padding:5em 0; @include clearfix(); position:relative; }
.container { @include container; display:block; }

.split { //height:100%;
    // display: -webkit-box;
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // align-items: center;
    // justify-content: center;
	
	> div { @include span(6 inside-static); @include vertical-align;
		&:first-child { text-align:center; }
	}
}

.arrow-down { display:block; margin:50px auto 0; }


.problem { @include clearfix();
	aside { @include span(4); text-align:center; 
		i { font-size:200px; text-align:center; }
	}
	article { @include span(8 last); }
}
.solution { @include clearfix();
	aside { @include span(4 last); text-align:center; 
		i { font-size:200px; text-align:center; }
	}
	article { @include span(8); }
}
.overview { padding:5em 0; height:100%; 
	// display: -webkit-box;
 //    display: -moz-box;
 //    display: -ms-flexbox;
 //    display: -webkit-flex;
 //    display: flex;
 //    align-items: center;
 //    justify-content: center;
	
	> div { @include span(4 inside-static); padding-top:4em;
		&:nth-child(2) { text-align:center; padding-top:0; }
	}
}
.message > div { @include span(6 inside-static); }

.icon-bar { overflow:hidden; white-space:nowrap; margin:-4em 0 0;
	i { font-size:32px; color:$greyLighter; margin:0 15px; }
}

.chunk-green { background:$green; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-red { background:$red; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-beige { background:$beige; color:darken($orange, 10%);
	h1, h2, p{ color:darken($orange, 10%); }
	i { color:$orange; }
}
.chunk-orange { background:$orange; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-yellow { background:$yellow; color:$orange;
	h1, h2, p, i { color:$orange; }
}
.chunk-blue { background:$blue; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-purple { background:$purple; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-white { background:$greyLighter; color:$greyDark;
	h1, h2, p, i { color:$greyDark; }
}

.broc-box { width:50px; margin:0 auto; position:absolute; top:-20px; right:0; left:0; 
	.broc { width:40px; height:40px; background:#FFF; border-radius:50%; padding:5px; }
}
.wire { width:222px; height:434px; margin:0 auto; background:url(../images/iphone-wire.png) no-repeat center top; position:relative; 
	.tip-1-screen { background:url(../images/tip1.png) no-repeat; }
	.tip-2-screen { background:url(../images/tip2.gif) no-repeat; }
	.tip-3-screen { background:url(../images/tip3.png) no-repeat; }
	.tip-4-screen { background:url(../images/tip4.gif) no-repeat; }
	[class^='tip'] { margin:56px auto 0; width:180px; height:325px; background-size:100%; }
}
[class^='tip'] { margin-bottom:2em; position:relative; top:0; left:-1px; text-align:center; }


#slide-5 { padding-bottom:0;
	.bg { background:url(../images/photofood.jpg); padding:5em 0; @include box-sizing(border-box); @include clearfix();
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		// height: 100%;
		width: 100%; 
	
		h1, h2, p { background:rgba(255,255,255,.75); color:$greyDarker; padding:15px; display:inline-table; position:relative; }
		h1 { color:$green; line-height:1; 
			.icon-camera2 { position:absolute; left:-60px; top:5px; color:$white; }
		}
	}
}

.quotes { width:660px; margin:0 auto; text-align:center; }

// .loading { background: url('../images/ico_loading.gif') no-repeat center center; }




// MailChimp email signup CSS
//#mc_embed_signup { max-width:460px; margin:40px 0 0; padding:0; color:#999; }
#mc_embed_signup { 
	h3 { text-align:center; margin-bottom:2em; }
}
#mc_embed_signup label { font-weight:300; }
#mc_embed_signup .form-pos { width:400px; position:relative; margin:0 auto; }
#mc_embed_signup input.email { width:65%; border-radius:2px 0 0 2px; border:none; background:#efefef; margin:0; text-indent:10px; }
#mc_embed_signup input.button { background:#FFF; border:2px solid #efefef; color:#858585; border-radius:0 2px 2px 0; font-weight:400; font-size:inherit; height:auto; line-height:1.95; position:absolute; top:0; right:20px; 
	-webkit-transition:color .1s ease;
	-moz-transition:color .1s ease;
	-o-transition:color .1s ease;
	transition:color .1s ease;
}
#mc_embed_signup input.button:hover { background:#FFF; color:#1db345; }

footer { padding:20px 0; @include clearfix(); border-top:1px solid $greyLighter;
	span { font-size:12px; float:right; color:$greyDark; }
	i { margin-right:10px; }
}


// Media Queries

@media only screen and (max-width: 560px) {
	h1.logo { font-size:30px; }
	.problem aside { @include span(4 inside-static first); margin:0; }
	.solution aside { @include span(4 inside-static last); margin:0; }
	.problem article { @include span(8 inside-static last); margin:0; }
	.solution article { @include span(8 inside-static first); margin:0; }
	.problem aside i, .solution aside i { font-size:150px; }
	.message > div { @include span(8); }
	footer { padding:10px 0; text-align:center;
		span { display:block; float:none; margin-top:10px; }
	}
}

@media only screen and (max-width: 450px) {
	.split { height:auto !important; 
		> div { @include full; height:auto; display:block; top:0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
			&:first-child { padding-top:10%; margin-bottom:40px; }
		}
		.hero-blur { display:none; }
	}
	section { padding:1em 0; }
	.problem aside, .solution aside { display:none; }
	.problem article, .solution article { @include full; }
	.message > div { @include full; 
		h1, h2 { visibility:visible !important; }
		a { margin:0 auto; display:block; }
	}

	.overview { padding:1em 0;
		> div { @include full; padding:0; margin:0 auto;
			&:nth-child(2) { display:none; }
			.btn { display:none; }
		}
	}
	.arrow-down { display:none; }
	.icon-bar { margin-top:-1em; }
	#slide-5 {
		.bg { padding:1em 0; background:$greyLighter; }
	}

	[class^='tip'] { visibility:visible !important; }
}