@import "_variables";
@import "_mixins";
@import "susy";
@import "_buttons";
@import "accordion";

@include border-box-sizing;
$susy: layout( 12 (4em .7em) after);


// Absolute positioning the footer on the bottom
html, body { width:100%; height:100% !important; margin:0; padding:0; }
body { font-family: 'Lato', sans-serif; font-weight:300; color:$greyDark; line-height:$baseLineHeight; font-size:$baseFontSize; }

.topbar { background:$green; height:5px; width:100%; position:relative; z-index:10; }

img.scale-with-grid { max-width:100%; height:auto; }

h1, h2, h3, h4, h5, h6 { font-weight:300; margin:0 0 10px; line-height:1.2; }
h1 { font-size:36px; }
h2 { color:$green; }

h1.logo { color:#1db345; font-weight:300; margin:0; padding:0 0 10px;
	img { vertical-align:middle; width:48px; margin-top:-10px; }
}
.tagline { color:#858585; margin-bottom:20px; }

p { margin:0 0 10px; }

a, a:visited, a:hover, a:focus { color:$green; text-decoration:none; }
a:hover { color:lighten($green,10%); }


section { padding:5em 0; @include clearfix(); position:relative; }
.container { @include container; }

.split { height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
	
	> div { @include span(6 inside-static); position:relative; 
		&:first-child { text-align:center; }
	}
}

.problem { @include clearfix();
	aside { @include span(4); text-align:center; }
	article { @include span(8 last); }
}
.solution { @include clearfix();
	aside { @include span(4 last); text-align:center; }
	article { @include span(8); }
}
.overview { padding:5em 0; height:100%; 
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
	
	> div { @include span(4 inside-static);
		&:nth-child(2) { text-align:center; }
	}
}
.message > div { @include span(6 inside-static); }




.icon-bar { overflow:hidden; white-space:nowrap; margin:-4em 0 0;
	i { font-size:32px; color:$greyLighter; margin:0 15px; }
}

.chunk-green { background:$green; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-red { background:$red; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-beige { background:$beige; color:$orange;
	h1, h2, p, i { color:$orange; }
}
.chunk-orange { background:$orange; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-yellow { background:$yellow; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-blue { background:$blue; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-purple { background:$purple; color:$white;
	h1, h2, p, i { color:$white; }
}
.chunk-white { background:$greyLighter; color:$grey;
	h1, h2, p, i { color:$grey; }
}

.broc-box { width:50px; margin:0 auto; position:absolute; top:-20px; right:0; left:0; 
	.broc { width:40px; height:40px; background:#FFF; border-radius:50%; padding:5px; }
}
.wire { width:222px; height:434px; margin:0 auto; background:url(../images/iphone-wire.png) no-repeat center top; position:relative; 
	.tip-1-screen { background:url(../images/tip-1-screen.gif) no-repeat; }
	.tip-2-screen { background:url(../images/tip-2-screen.gif) no-repeat; }
	.tip-3-screen { background:url(../images/tip-3-screen.gif) no-repeat; }
	.tip-4-screen { background:url(../images/tip-4-screen.gif) no-repeat; }
	[class^='tip'] { margin:56px auto 0; width:180px; height:322px; background-size:100%; }
}
[class^='tip'] { margin-bottom:2em; position:relative; top:0; text-align:center; }


#slide-5 { padding-bottom:0;
	.bg { background:url(../images/photofood.jpg); padding:5em 0; box-sizing:border-box;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: 100%;
		width: 100%; 
	
		h1, h2, p { background:rgba(255,255,255,.75); color:$greyDarker; padding:15px; display:inline-table; position:relative; }
		h1 { color:$green; line-height:1; 
			.icon-camera2 { position:absolute; left:-60px; top:5px; color:$white; }
		}
	}
}

// .loading { background: url('../images/ico_loading.gif') no-repeat center center; }




// MailChimp email signup CSS
#mc_embed_signup { max-width:460px; margin:40px 0 0; padding:0; color:#999; }
#mc_embed_signup label { font-weight:300; }
#mc_embed_signup .form-pos { width:320px; position:relative; }
#mc_embed_signup input.email { width:65%; border-radius:2px 0 0 2px; border:none; background:#efefef; margin:0; text-indent:10px; }
#mc_embed_signup input.button { background:#FFF; border:2px solid #efefef; color:#858585; border-radius:0 2px 2px 0; font-weight:400; font-size:inherit; height:auto; line-height:1.95; position:absolute; top:0; right:0; 
	-webkit-transition:color .1s ease;
	-moz-transition:color .1s ease;
	-o-transition:color .1s ease;
	transition:color .1s ease;
}
#mc_embed_signup input.button:hover { background:#FFF; color:#1db345; }

footer { padding:20px 0; @include clearfix();
	span { font-size:14px; float:right; color:$greyDark; }
	i { margin-right:10px; }
}



